<!-- templates/support.html -->

<style>
    #searchInput, #plusInput {
        font-size: 14px;
    }
        form {
        min-width: fit-content;
        background-color: #ffffff;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    input, textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #cccccc;
        border-radius: 5px;
    }

    button {
        background-color: #007bff;
        color: #ffffff;
        cursor: pointer;
    }
    .g-recaptcha{
       margin: 15px auto !important;
       width: auto !important;
       height: auto !important;
       text-align: -webkit-center;
       text-align: -moz-center;
       text-align: -o-center;
       text-align: -ms-center;
    }
    .errorlist
    {
        padding: 0;
        background: #ff555555;
        border-radius: 20px;
    }
    .error input, .error select {
        border: 2px red solid;
        }
    .button-send{
    max-width: 40px
    }

    #openFile {
        display: none;
    }

    form {
        margin: 20px;
    }

    .accordion-header {
        margin: 10px 0;
        padding: 10px;
        background-color: #F8F9FB;
        /* cursor: pointer; */
        border-radius: 10px;
    }
    .accordion-content {
        display: none;
        padding: 10px;
    }

    .accordion-flush .accordion-item:first-child {
        border: 0;
    }

    .show {
        display: block;
    }
</style>

<div class="heading-div">
    <div class="rounded-circle" style="margin: 0 10px 0 0;min-width: 40px;height: 40px;background-color: #F8F9FB">
        <i class="ci-faq" style="margin: 10px;color: #DAE0E6;"></i>
    </div>
    <h3 style="margin: auto 0;">
        FAQ
    </h3>
</div>
<br>
<br>
<h4>Популярные вопросы</h4>
<br>

<div class="accordion accordion-flush" id="accordionFlushExample">
{% for i in faq %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading{{ i.id }}">
            <button class="accordion-button collapsed" type="button">
                {{ i.title }}
            </button>
        </h2>
        <div id="flush-collapse{{ i.id }}" class="accordion-collapse collapse">
            <div class="accordion-body">
                {{ i.text | safe }}
            </div>
        </div>
    </div>
{% endfor %}
</div>

<script>
    $(document).ready(function() {
        // При клике на заголовок аккордеона
        $('.accordion-button').click(function(e) {
            e.preventDefault(); // Предотвращаем действие по умолчанию

            // Находим родительский элемент .accordion-item
            var item = $(this).parents('.accordion-item');

            // Если активный элемент не текущий, закрываем его
            if (!item.hasClass('active')) {
                $('.accordion-item.active').find('.accordion-collapse').collapse('hide');
                $('.accordion-item.active').removeClass('active');
            }

            // Открываем или закрываем контент текущего элемента
            item.toggleClass('active');
            item.find('.accordion-collapse').collapse('toggle');
        });
    });
</script>
